article {
  height: 1800px;
}

div {
  display: inline-block;
  margin: 15px;
  border: 5px solid gray;
  padding: 40px 50px;
  box-sizing: border-box;
  width: 180px;
  height: 180px;  
}

div:nth-child(7) {
  position: relative;
  top: -20px;
}

div:nth-child(3) {
  position: fixed;
  top: 0;
  right: 0;
}

div:nth-child(5) {
  position: sticky;
  top: 0;
}

