div > p {
    font-size: 20px;
}

article > h2 + div {
    background-color: yellow;
}

p ~ span {
    font-weight: 900;
}

div > p {
    color: red;
}
p ~ p {
    color: black;
}

h2 ~ span {
    font-style: italic;
}

#my_p + p{
    background-color: black;
    color: white;
}